# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# === Visual Studio ===
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# === VSCode / JetBrains IDEA (if you ever open it there) ===
.vscode/
.idea/

# === Archives / large data ===
*.zip
*.csv
*.png

# === Build outputs ===
[Bb]in/
[Oo]bj/

*.idb
*.pdb

# === Misc caches & temp files ===
*.db
*.db-shm
*.db-wal
DocumentLayout.backup.json
v17/